<h2>Add a new Book</h2>

<div class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2 control-label">Title</label>
    <div class="col-sm-10">
      {{input type="text" value=model.title class="form-control" placeholder="The name of the Book"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Price</label>
    <div class="col-sm-10">
      {{input type="text" value=model.price class="form-control" placeholder="The price of the Book"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Author</label>
    <div class="col-sm-10">
      {{input type="text" value=model.author.name class="form-control" placeholder="The author of the Book"}}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label">Publisher</label>
    <div class="col-sm-10">
      {{input type="text" value=model.publisher class="form-control" placeholder="The publisher of the Book"}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" {{action 'saveBook' model}}>Add Book</button>
    </div>
  </div>
</div>
