<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Book {{model.id}} </h3>
  </div>
  <div class="panel-body">
    <p>{{model.title}}</p>
    <p>{{model.price}}</p>
    <p>{{model.author}}</p>
    <p>{{model.publisher}}</p>
  </div>
</div>
